---
http_interactions:
- request:
    method: get
    uri: http://oss-cn-hangzhou.aliyuncs.com/?uploads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:aDFiGHAfjJ/QGWN/faA4yH6h66o=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563E16C4AD341EA737E385CF
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ListMultipartUploadsResult>
          <Bucket>ruby-sdk</Bucket>
          <KeyMarker></KeyMarker>
          <UploadIdMarker></UploadIdMarker>
          <NextKeyMarker>2624.jpg</NextKeyMarker>
          <NextUploadIdMarker>EE375F5F16A3457EA2BDC04347C78174</NextUploadIdMarker>
          <Delimiter></Delimiter>
          <Prefix></Prefix>
          <MaxUploads>1000</MaxUploads>
          <IsTruncated>false</IsTruncated>
          <Upload>
            <Key>2621.jpg</Key>
            <UploadId>012B9DDE669944F69F7024978D8FA88A</UploadId>
            <StorageClass>Standard</StorageClass>
            <Initiated>2015-11-07T14:44:20.000Z</Initiated>
          </Upload>
          <Upload>
            <Key>2621.jpg</Key>
            <UploadId>1AA18B408F72438990361633ED061799</UploadId>
            <StorageClass>Standard</StorageClass>
            <Initiated>2015-11-07T14:41:57.000Z</Initiated>
          </Upload>
          <Upload>
            <Key>2621.jpg</Key>
            <UploadId>732A2BF15779414697483AA5441E90C6</UploadId>
            <StorageClass>Standard</StorageClass>
            <Initiated>2015-1[...]
