---
http_interactions:
- request:
    method: post
    uri: http://oss-cn-hangzhou.aliyuncs.com/2621.jpg?uploads
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:I2RJy9qXVhjLPTCE3x2LdfayrKE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563E0E4468CE477735686FE5
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <InitiateMultipartUploadResult>
          <Bucket>ruby-sdk</Bucket>
          <Key>2621.jpg</Key>
          <UploadId>012B9DDE669944F69F7024978D8FA88A</UploadId>
        </InitiateMultipartUploadResult>
  recorded_at: Sat, 07 Nov 2015 14:45:43 GMT
- request:
    method: put
    uri: http://oss-cn-hangzhou.aliyuncs.com/2621.jpg?partNumber=1&uploadId=012B9DDE669944F69F7024978D8FA88A
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Oss-Copy-Source:
      - "/ruby-sdk/2624.jpg"
      X-Oss-Copy-Source-Range:
      - bytes=1-3
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:4tS5olE4JjIgOkf21fRZIUYbv2I=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563E0E446D75CAB240DB3F43
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Error>
          <Code>NoSuchKey</Code>
          <Message>The specified key does not exist.</Message>
          <Key>2624.jpg</Key>
          <RequestId>563E0E446D75CAB240DB3F43</RequestId>
          <HostId>ruby-sdk.oss-cn-hangzhou.aliyuncs.com</HostId>
        </Error>
  recorded_at: Sat, 07 Nov 2015 14:45:43 GMT
recorded_with: VCR 2.9.3
