---
http_interactions:
- request:
    method: post
    uri: http://oss-cn-hangzhou.aliyuncs.com/2621.jpg?uploads
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:KAGZw8m4+S3msoKw2tG/WPpFN4k=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563E0E4401BBC48E0D669335
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <InitiateMultipartUploadResult>
          <Bucket>ruby-sdk</Bucket>
          <Key>2621.jpg</Key>
          <UploadId>EF77B85466B34E9BA1FF3BC3BB5B5476</UploadId>
        </InitiateMultipartUploadResult>
  recorded_at: Sat, 07 Nov 2015 14:45:43 GMT
- request:
    method: put
    uri: http://oss-cn-hangzhou.aliyuncs.com/2621.jpg?partNumber=1&uploadId=EF77B85466B34E9BA1FF3BC3BB5B5476
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Oss-Copy-Source:
      - "/ruby-sdk/6765.jpg"
      X-Oss-Copy-Source-Range:
      - bytes=1-3
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:CPhrRzmlrX7SS43nZjDFSAr8MaE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Content-Range:
      - bytes 1-3/4143
      Etag:
      - '"2BA14595145672598AEDF1EFAFE11DBA"'
      X-Oss-Request-Id:
      - 563E0E4468CE47773568701B
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <CopyPartResult>
          <LastModified>2015-11-07T14:44:21.000Z</LastModified>
          <ETag>"2BA14595145672598AEDF1EFAFE11DBA"</ETag>
        </CopyPartResult>
  recorded_at: Sat, 07 Nov 2015 14:45:43 GMT
recorded_with: VCR 2.9.3
