---
http_interactions:
- request:
    method: post
    uri: http://oss-cn-hangzhou.aliyuncs.com/2624.jpg?uploads
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:jA3FA26ydDnS7MrD4anx6sST5Gs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563E059DAEC9A109535F8677
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <InitiateMultipartUploadResult>
          <Bucket>ruby-sdk</Bucket>
          <Key>2624.jpg</Key>
          <UploadId>99312EEFABF1428F8AF1B7C80CF4DF17</UploadId>
        </InitiateMultipartUploadResult>
  recorded_at: Sat, 07 Nov 2015 14:08:48 GMT
recorded_with: VCR 2.9.3
