---
http_interactions:
- request:
    method: get
    uri: http://oss-cn-hangzhou.aliyuncs.com/?max-keys=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:Lx2eA49ISpmMh3JtE0n4m6+P5Qg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563B641F68CE4777355005D0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult>
          <Prefix></Prefix>
          <Marker></Marker>
          <MaxKeys>1</MaxKeys>
          <IsTruncated>true</IsTruncated>
          <NextMarker>123-ruby</NextMarker>
          <Owner>
            <ID>1889927870986049</ID>
            <DisplayName>1889927870986049</DisplayName>
          </Owner>
          <Buckets>
            <Bucket>
              <Location>oss-cn-hangzhou</Location>
              <Name>123-ruby</Name>
              <CreationDate>2015-11-05T13:18:42.000Z</CreationDate>
            </Bucket>
          </Buckets>
        </ListAllMyBucketsResult>
  recorded_at: Thu, 05 Nov 2015 14:15:07 GMT
recorded_with: VCR 2.9.3
