---
http_interactions:
- request:
    method: get
    uri: http://oss-cn-hangzhou.aliyuncs.com/?%7B%22max-keys%22=%3E1%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:isQIRQadds1nSEfQ7TyrRziFPQ0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563B61C53CA56B200CC37A7B
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult>
          <Owner>
            <ID>1889927870986049</ID>
            <DisplayName>1889927870986049</DisplayName>
          </Owner>
          <Buckets>
            <Bucket>
              <Location>oss-cn-hangzhou</Location>
              <Name>123-ruby</Name>
              <CreationDate>2015-11-05T13:18:42.000Z</CreationDate>
            </Bucket>
            <Bucket>
              <Location>oss-cn-hangzhou</Location>
              <Name>ruby-sdk</Name>
              <CreationDate>2015-10-26T08:23:05.000Z</CreationDate>
            </Bucket>
          </Buckets>
        </ListAllMyBucketsResult>
  recorded_at: Thu, 05 Nov 2015 14:05:06 GMT
recorded_with: VCR 2.9.3
