---
http_interactions:
- request:
    method: put
    uri: http://oss-cn-hangzhou.aliyuncs.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <CreateBucketConfiguration>
          <LocationConstraint>oss-cn-hangzhou</LocationConstraint>
        </CreateBucketConfiguration>
    headers:
      X-Oss-Acl:
      - private
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:eQzhCu9I76z0TE9gpHa1t/vlMbQ=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563B6F0001BBC48E0D595613
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Error>
          <Code>InvalidBucketName</Code>
          <Message>The specified bucket is not valid.</Message>
          <BucketName>****</BucketName>
          <RequestId>563B6F0001BBC48E0D595613</RequestId>
          <HostId>****.oss-cn-hangzhou.aliyuncs.com</HostId>
        </Error>
  recorded_at: Thu, 05 Nov 2015 15:01:32 GMT
recorded_with: VCR 2.9.3
