---
http_interactions:
- request:
    method: get
    uri: http://oss-cn-hangzhou.aliyuncs.com/?referer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:r90GGm+e7CaS2RTy7ACQJE8p0QQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563B9DC668CE4777357761BA
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <RefererConfiguration>
          <AllowEmptyReferer>true</AllowEmptyReferer>
          <RefererList>
            <Referer>http://www.*.com</Referer>
            <Referer>http://www.aliyun.com</Referer>
          </RefererList>
        </RefererConfiguration>
  recorded_at: Thu, 05 Nov 2015 18:21:07 GMT
recorded_with: VCR 2.9.3
