---
http_interactions:
- request:
    method: get
    uri: http://oss-cn-hangzhou.aliyuncs.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:yfrjvbuBSBNuo2LGqxj5wZG7lL8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563B960E3CA56B200CE9F707
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult>
          <Name>ruby-sdk</Name>
          <Prefix></Prefix>
          <Marker></Marker>
          <MaxKeys>100</MaxKeys>
          <Delimiter></Delimiter>
          <IsTruncated>false</IsTruncated>
          <Contents>
            <Key>6764.jpg</Key>
            <LastModified>2015-11-05T14:32:34.000Z</LastModified>
            <ETag>"97ACB5A4F68CA7723F6E4656CE79CFFB"</ETag>
            <Type>Normal</Type>
            <Size>4143</Size>
            <StorageClass>Standard</StorageClass>
            <Owner>
              <ID>1889927870986049</ID>
              <DisplayName>1889927870986049</DisplayName>
            </Owner>
          </Contents>
          <Contents>
            <Key>6764.jpg123</Key>
            <LastModified>2015-11-04T15:37:34.000Z</LastModified>
            <ETag>"97ACB5A4F68CA7723F6E4656CE79CFFB"</ETag>
            <Type>Normal</Type>
            <Size>4143</Size>
            <StorageClass>Standard</StorageClass>
            <Owner>
              <ID>1889927870986049</ID>
              <DisplayName>1889927870986049</DisplayName>
            </Owner>
          </Contents>
        </ListBucketResult>
  recorded_at: Thu, 05 Nov 2015 17:48:11 GMT
recorded_with: VCR 2.9.3
