---
http_interactions:
- request:
    method: get
    uri: http://oss-cn-hangzhou.aliyuncs.com/?acl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:YvfVNM8w7OkbBlVzdPok/3lT9l8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563B986F68CE477735752003
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <AccessControlPolicy>
          <Owner>
            <ID>1889927870986049</ID>
            <DisplayName>1889927870986049</DisplayName>
          </Owner>
          <AccessControlList>
            <Grant>private</Grant>
          </AccessControlList>
        </AccessControlPolicy>
  recorded_at: Thu, 05 Nov 2015 17:58:20 GMT
recorded_with: VCR 2.9.3
