---
http_interactions:
- request:
    method: put
    uri: http://oss-cn-hangzhou.aliyuncs.com/?lifecycle
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <LifecycleConfiguration>
          <Rule>
            <Prefix>test</Prefix>
            <Status>Enabled</Status>
            <Expiration>
              <Days>1</Days>
            </Expiration>
          </Rule>
        </LifecycleConfiguration>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:wWuFFfoe4ntPmINZFKhfzE4dJcY=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oss-Request-Id:
      - 563B93216D75CAB240E5B0FE
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Nov 2015 17:35:42 GMT
recorded_with: VCR 2.9.3
