---
http_interactions:
- request:
    method: put
    uri: http://oss-cn-hangzhou.aliyuncs.com/?referer
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <RefererConfiguration>
          <AllowEmptyReferer>true</AllowEmptyReferer>
          <RefererList>
            <Referer>http://www.aliyun.com</Referer>
            <Referer>http://www.*.com</Referer>
          </RefererList>
        </RefererConfiguration>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:20oHY3RPCSlZsCXSJEavsFPHpms=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oss-Request-Id:
      - 563B907FAEC9A1095370F243
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Nov 2015 17:24:28 GMT
recorded_with: VCR 2.9.3
