---
http_interactions:
- request:
    method: get
    uri: http://oss-cn-hangzhou.aliyuncs.com/6765.jpg?acl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OSS 7QhZzFGQynBlm5r5:FDDwy6Q6HfbRMGe6sRa/g77GRpI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Oss-Request-Id:
      - 563BC8C66D75CAB240F9EC7B
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <AccessControlPolicy>
          <Owner>
            <ID>1889927870986049</ID>
            <DisplayName>1889927870986049</DisplayName>
          </Owner>
          <AccessControlList>
            <Grant>public-read-write</Grant>
          </AccessControlList>
        </AccessControlPolicy>
  recorded_at: Thu, 05 Nov 2015 21:24:36 GMT
recorded_with: VCR 2.9.3
